# /
/.project
/build
/autom4te.cache
/.settings
/.cproject
/.autotools
*.kdev4
*.directory
/.pydevproject

# directories created by regression test scripts
/regression/build_*/
/regression/install_*/

# /test/
/test/output

# misc
*.backup
*.orig
*.nvvp
*.ptp-sync*
*~

## OS X ##
.DS_Store

# Fortran mod files
*.mod

# directories created by ARKode's Sphinx documentation system
/doc/arkode/SphinxDocs/extra_packages/sphinx-bootstrap-theme
/doc/arkode/SphinxDocs/guide/build
/doc/arkode/SphinxDocs/examples/build
