###############################################################################
# Copyright (c) 2022-23, Lawrence Livermore National Security, LLC and RADIUSS
# project contributors.
#
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.
#
# SPDX-License-Identifier: (MIT)
###############################################################################
# Modifications to this file have been made under the folllowing copyright.
# -----------------------------------------------------------------------------
# SUNDIALS Copyright Start
# Copyright (c) 2002-2025, Lawrence Livermore National Security
# and Southern Methodist University.
# All rights reserved.
#
# See the top-level LICENSE and NOTICE files for details.
#
# SPDX-License-Identifier: BSD-3-Clause
# SUNDIALS Copyright End
# -----------------------------------------------------------------------------

# DESCRIPTION:
###############################################################################
# General GitLab pipelines configurations for supercomputers and Linux clusters
# at Lawrence Livermore National Laboratory (LLNL).
# This entire pipeline is LLNL-specific
#
# Important note: This file is a template provided by llnl/radiuss-shared-ci.
# Remains to set variable values, change the reference to the radiuss-shared-ci
# repo, opt-in and out optional features. The project can then extend it with
# additional stages.
#
# In addition, each project should copy over and complete:
# - .gitlab/custom-jobs-and-variables.yml
# - .gitlab/subscribed-pipelines.yml
#
# The jobs should be specified in a file local to the project,
# - .gitlab/jobs/${CI_MACHINE}.yml
# or generated (see LLNL/Umpire for an example).
###############################################################################

# We define the following GitLab pipeline variables:
variables:
##### LC GITLAB CONFIGURATION
# Use an LLNL service user to run CI. This prevents from running pipelines as
# an actual user.
  LLNL_SERVICE_USER: ""
# Use the service user workspace. Solves permission issues, stores everything
# at the same location whoever triggers a pipeline.
  CUSTOM_CI_BUILDS_DIR: "/usr/workspace/sundials/ci/.builds/"
# Tells Gitlab to recursively update the submodules when cloning the project.
  GIT_SUBMODULE_STRATEGY: recursive

##### PROJECT VARIABLES
# We build the projects in the CI clone directory.
# Used in script/gitlab/build_and_test.sh script.
# TODO: add a clean-up mechanism.
  BUILD_ROOT: ${CI_PROJECT_DIR}
  SPACK_REF: "594a376c521cc746978571b1181a47bbcff30a21" # v0.22.2

##### SHARED_CI CONFIGURATION
# Required information about GitHub repository
  GITHUB_PROJECT_NAME: "sundials"
  GITHUB_PROJECT_ORG: "LLNL"
# Set the build-and-test command.
# Nested variables are allowed and useful to customize the job command. We
# prevent variable expansion so that you can define them at job level.
  JOB_CMD:
    value: ".gitlab/build_and_test.sh"
    expand: false
# Override the pattern describing branches that will skip the "draft PR filter
# test".  Add protected branches here. See default value in
# preliminary-ignore-draft-pr.yml.
#  ALWAYS_RUN_PATTERN: ""

# We organize the build-and-test stage with sub-pipelines. Each sub-pipeline
# corresponds to a test batch on a given machine.

# High level stages
stages:
  - prerequisites
  - build-and-test

# Template for jobs triggering a build-and-test sub-pipeline:
.build-and-test:
  stage: build-and-test
  trigger:
    include:
      - local: '.gitlab/custom-jobs-and-variables.yml'
      - project: 'sundials/radiuss-shared-ci' # https://lc.llnl.gov/gitlab/sundials/radiuss-shared-ci
        ref: 'ae1f3786591beed83abc6a0de2229f6e9532e2d4'
        file: 'pipelines/${CI_MACHINE}.yml'
      # Add your jobs
      # you can use a local file
      - local: '.gitlab/jobs/${CI_MACHINE}.yml'
      # or a file generated in the previous steps
      # - artifact: '${CI_MACHINE}-jobs.yml'
      #   job: 'generate-job-file'
      # (See Umpire CI setup for an example).
    strategy: depend
    forward:
      pipeline_variables: true

include:
  # Sets ID tokens for every job using `default:`
  - project: 'lc-templates/id_tokens'
    file: 'id_tokens.yml'
  # # [Optional] checks preliminary to running the actual CI test
  # - project: 'radiuss/radiuss-shared-ci'
  #   ref: 'v2024.04.0'
  #   file: 'utilities/preliminary-ignore-draft-pr.yml'
  # pipelines subscribed by the project
  - local: '.gitlab/subscribed-pipelines.yml'
