# /
/.project
/build
/autom4te.cache
/.settings
/.cproject
/.autotools
*.kdev4
*.directory
/.pydevproject

# temporary directory used for uploading releases to GitHub
/scripts/sundials-github

# /test/
/test/output

# misc
*.backup
*.orig
*.nvvp
*.ptp-sync*
*~

## OS X ##
.DS_Store
