body {
  margin: 0px;
  padding: 10px;
}

body, td, input, textarea, form{
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-decoration: none;
  color: #000;
}

A:link {text-decoration: none; color:#36648B}
A:visited {text-decoration: none; color:#36648B}
A:active {text-decoration: none; color:#36648B;}
A:hover {text-decoration: none; color: #36648B;}

/* Century Schoolbook font is very similar to Computer Modern Math: cmmi */
.MATH    { font-family: "Century Schoolbook", serif; }
.MATH I  { font-family: "Century Schoolbook", serif; font-style: italic }
.BOLDMATH { font-family: "Century Schoolbook", serif; font-weight: bold }

/* implement both fixed-size and relative sizes */
SMALL.XTINY		{ font-size : xx-small }
SMALL.TINY		{ font-size : x-small  }
SMALL.SCRIPTSIZE	{ font-size : smaller  }
SMALL.FOOTNOTESIZE	{ font-size : small    }
SMALL.SMALL		{  }
BIG.LARGE		{  }
BIG.XLARGE		{ font-size : large    }
BIG.XXLARGE		{ font-size : x-large  }
BIG.HUGE		{ font-size : larger   }
BIG.XHUGE		{ font-size : xx-large }

/* heading styles */

h1{
        display: block;
	font-weight: bold;
	letter-spacing: 3px;
	font-size: 14px;
	margin: 0px 0px 0px 0px;
	padding: 5px;
        padding-bottom: 0px;
        border: 0px;
        border-bottom: 1px solid #dad9c9;
}

h2{
        display: inline;
	font-weight: bold;
	font-size: 12px;
	letter-spacing: 2px;
	margin: 0px;
        margin-top: 10px;
	padding: 0px;
        border-bottom: 1px  solid #aaaaaa;
}

h3{
	letter-spacing: 1px;
	font-size: 11px;
	font-weight: normal;
	margin: 0px;
	margin-bottom: 3px;
	padding: 0px;
}

h4{
	letter-spacing: 1px;
	font-size: 9px;
	font-weight: bold;
	margin: 0px;
	margin-bottom: 5px;
	padding: 0px;
	color: #9EA7C0;
}

h5{
	letter-spacing: 1px;
	font-size: 9px;
	font-weight: bold;
	margin: 0px;
	margin-bottom: 5px;
	padding: 0px;
	color: #9EA7C0;
}


/* Lists */

ul {
        color: #f00;
}

li {
        list-style-type: square;
        color: #000;
}
/*
ul li:before {
        content: "\00BB \0020 \0075";
        color: #f00;
}
*/

/* mathematics styles */
DIV.displaymath		{ }	/* math displays */
TD.eqno			{ }	/* equation-number cells */


/* document-specific styles come next */
