name: Containers - spack@e4s

on:
  workflow_dispatch:

permissions:
  packages: write

jobs:
  build_e4s_base:
    runs-on: ubuntu-latest
    steps:
    - name: VM Hardware Info
      run: |
        cat /proc/cpuinfo
    - name: Checkout
      uses: actions/checkout@v4
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v2
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    - name: Login to container registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Build and push Docker images
      uses: docker/build-push-action@v6.15.0
      with:
          context: "./docker/sundials-ci/e4s-base"
          build-args: e4s_version=22.05
          push: true
          tags: ghcr.io/llnl/sundials-ci-e4s-base:latest, ghcr.io/llnl/sundials-ci-e4s-base:e4s-22.05
  build_ci_containers:
    strategy:
      matrix:
        indexsize: [32, 64]
        precision: ['single', 'double', 'extended']
    runs-on: ubuntu-latest
    needs: build_e4s_base
    steps:
    - name: VM Hardware Info
      run: |
        cat /proc/cpuinfo
    - name: Checkout
      uses: actions/checkout@v4
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v2
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    - name: Login to container registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Build and push Docker images
      uses: docker/build-push-action@v6.15.0
      with:
          context: "./docker/sundials-ci/e4s-quarterly"
          build-args: spack_yaml=./int${{ matrix.indexsize }}-${{ matrix.precision }}/spack.yaml
          push: true
          tags: ghcr.io/llnl/sundials-ci-int${{ matrix.indexsize }}-${{ matrix.precision }}:latest, ghcr.io/llnl/sundials-ci-int${{ matrix.indexsize }}-${{ matrix.precision }}:e4s-22.05
