name: Containers - nightly spack@develop

on:
  pull_request: #temporary
  workflow_dispatch:
  schedule:
  - cron: '30 02 * * *'

jobs:
  build_int32_double:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        indexsize: [32, 64]
        precision: ['double']
    steps:
    - name: VM Hardware Info
      run: |
        cat /proc/cpuinfo
    - name: Checkout
      uses: actions/checkout@v3
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v2
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2
    - name: Login to container registry
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Build and push Docker images
      uses: docker/build-push-action@v3.0.0
      with:
          context: "./docker/sundials-ci/spack-nightly"
          build-args: spack_yaml=${{ matrix.indexsize }}-${{ matrix.precision }}/spack.yaml
          push: true
          tags: ghcr.io/llnl/sundials-ci-int${{ matrix.indexsize }}-${{ matrix.precision }}:spack-develop
